BODY
{	 
	background-repeat:no-repeat;
	background-position:right top;
}

.header-container h3
{
	margin-top:5px;
	color:#1C2D81;
}

#SummaryOfTestCase{margin-top:60px !important;}

.tables-container{display:inline-block; width:100%;	margin-bottom:50px;}
.tables-container #Application{float:left; width:50%; margin-right:40px;}
.tables-container #ApplicationOne{float:left;}

table tr{background:#ffffff;}

#TableTitle
{
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	width: 100%;
	height: 56px;
	font-family: chicago;
	text-align: center;
	COLOR: White; 
	background-image: url('https://5c0133c2-a-62cb3a1a-s-sites.googlegroups.com/site/feras13545646/headBG.jpg');
	font-weight:bold;
	
}


#TableTitle tr.header td
{
	padding-top: 8px;
	font-size: 24px;
}

#TableTitle tr td
{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
}

#TableApplication
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	width:50%
}


strong
{
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #005ef4; 
	font-size: 12px;
	text-align: left;
}

span
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}


#TableSummary
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
}

#TableSummary tr.Head td
{
	/*text-align: center;
	FONT-WEIGHT: bold; 
	font-size: 14px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 3px solid;*/
}

#TableSummary tr.Count td
{
	/*text-align: center;
	font-size: 13px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	BACKGROUND-COLOR: #d3dfee;	*/
}

#TableSummary tr.TOTAL td
{
	/*text-align: center;
	font-size: 13px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	BAKGROUND-COLOR: #ffffff;	*/
}

#SummaryOfTestCaseTable
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
}

#SummaryOfTestCaseTable tr.SummaryOfTestCaseTable_Head td
{
	text-align: center;
	FONT-WEIGHT: bold; 
	font-size: 14px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 3px solid;
	
}

#SummaryOfTestCaseTable tr.TotalFailed td
{
	text-align: center;
	font-size: 13px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
}

#SummaryOfTestCaseTable tr.TotalWarning td
{
	text-align: center;
	font-size: 13px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	BACKGROUND-COLOR: #d3dfee;	
}

#SummaryOfTestCaseTable tr.TotalPassed td
{
	text-align: center;
	font-size: 13px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	BACKGROUND-COLOR: #d3dfee;	
}


/******************************************************************************************************/
/******************************************************************************************************/
/* footer */
#footer_wrapper {
	margin:0 auto;
	padding:0;
	width:60%;
	border-top:6px double #CCCCCC;
	font-size:80%;
	text-align:center;
	clear:both;
}

#footer {
	padding-right:5px;
	margin:0;
	line-height:190%;
	text-align:right;
	clear:both;
	vertical-align:middle;
}
#header {		
	clear:right;
	
	background-repeat:no-repeat;
	width: 100%;
	hight: 25% ;
}
/******************************************************************************************************/
/******************************************************************************************************/


/******************************************************************************************************/
/******************************************************************************************************/
.TestCase
{
	width: 97%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	background-color:#f7f9fe;
}

.FunctionDL
{
	width: 96%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	FONT-SIZE: 13px;	
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;

}
#TestSuite
{
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	width: 100%;
	BORDER-RIGHT: #4f81bd 1px solid;
	BORDER-TOP: #4f81bd 1px solid;
	BORDER-LEFT: #4f81bd 1px solid;
	BORDER-BOTTOM: #4f81bd 1px solid;
	FONT-SIZE: 14px;
	margin-bottom: 1px;
}
/******************************************************************************************************/
/******************************************************************************************************/
.MESSAGE
{
	FONT-WEIGHT: bold;
	width:80%;
	font-size:14px;	
}
.MessageSuite
{
	FONT-WEIGHT: bold;
	width:40%;
	font-size:14px;	
}
/******************************************************************************************************/



/******************************************************************************************************/
/******************************************************************************************************/
.SuiteStatusFailed{
	FONT-WEIGHT: bold; 
	COLOR: #ff3333;
	width:15%;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
.SuiteStatusWarning{
	FONT-WEIGHT: bold; 
	font-family:"Times New Roman", Times, serif;	
	font-size:14px;
	COLOR: #FFA500;
	width:15%;
}
.SuiteStatusDone{
	FONT-WEIGHT: bold; 
	font-family:"Times New Roman", Times, serif;	
	font-size:14px;

	width:15%;	
}
.SuiteStatusPassed
{
	COLOR: #009933;	
	width:15%;
	font-size:14px;	
}	
/******************************************************************************************************/
/******************************************************************************************************/




/******************************************************************************************************/
/******************************************************************************************************/
.StatusPassed
{
	COLOR: #009933;	
	width:30%;
	font-size:14px;	
	word-wrap:break-word;

}
.StatusFailed
{
	FONT-WEIGHT: bold; 
	COLOR: #ff3333;
	width:30%;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
.StatusWarning
{
	FONT-WEIGHT: bold; 
	font-family:"Times New Roman", Times, serif;	
	font-size:14px;
	COLOR: #FFA500;
	width:30%;
}
.StatusDone
{
	FONT-WEIGHT: bold; 
	font-family:"Times New Roman", Times, serif;	
	font-size:14px;
	width:30%;	
}
/******************************************************************************************************/
/******************************************************************************************************/


/******************************************************************************************************/
/******************************************************************************************************/
.StepHead
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px;	
}
.Step
{
	width:95%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #696969 0px solid;
	BORDER-TOP: #696969 0px solid;
	BORDER-LEFT: #696969 0px solid;
	BORDER-BOTTOM: #696969 0px solid;
	FONT-SIZE: 12px;
	table-layout: fixed;
}

.StepHeaders
{
	width:95%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #696969 1px solid;
	BORDER-TOP: #696969 1px solid;
	BORDER-LEFT: #696969 1px solid;
	BORDER-BOTTOM: #696969 1px solid;
	FONT-SIZE: 12px;
	background-color:#e3e8ff;
}
/******************************************************************************************************/
/******************************************************************************************************/






/******************************************************************************************************/
.M1
{		
	background-color: #F0FAFF;
	width:30;

}

.M2
{
	background-color: #d3dfee;
	width:30%;

}

.LinkToFile
{
	width:25%;
}

A:link 
{
	text-decoration:none;
}

A:hover
{
	text-decoration: underline; 
	color: red;
}

A:visited 
{	
	text-decoration: none
}

A:active 
{
	text-decoration: none
}
.background-image { z-index: -1; }
.overlay-text { position: absolute; top: ??px; left: ??px; }
/******************************************************************************************************/




/***********CSS_Table_Example*************************************************************************/
/******************************************************************************************************/
.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	width:100%;
	/*height:100%;*/
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	/*text-align:center;*/
	border-width:0px 0px 1px 1px;
	/*font-size:14px;*/
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;	
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSS_Table_Example tr{height:10px;}

.CSS_Table_Example td.header-container{background:#1C2D81 !important; color:#ffffff; text-align:left;}
.CSS_Table_Example td.header-value-container{background:#ffffff !important; color:#1C2D81 !important; text-align:left;}

#ApplicationOne.CSS_Table_Example{
	width:37%;
}

#Summary{width:50%; margin-bottom:50px;}

#TableSummary .header-container{width:24%;}

.table-header-info{border-bottom:1px solid #000; color:#1C2D81; font-size:25px; font-family:Comic Sans MS;}
table{border:none !important;!important;}
/******************************************************************************************************/
/******************************************************************************************************/

									





/******************************************************************************************************/
#psdgraphics-com-table {
	margin:0;
	padding: 4px;
	width: 400px;
	font: 11px Arial, Helvetica, sans-serif;
	color:#black;
	background-color:#0c2a62;
}


#psdg-header {
	margin:0;
	padding: 14px 0 0 24px;
	width: 380px;
	height: 55px;
	color:#FFF;
	font-size:13px;
	background: #0c2c65 url(https://sites.google.com/site/htmlreport1231234234/head-bcg.jpg) no-repeat right top;	
}

.psdg-bold {
	font: bold 22px Arial, Helvetica, sans-serif;
	
}

#psdg-top {
	margin:0;
	padding: 0;
	width: 578px;
	height: 46px;
	border-top: 2px solid #FFF;
	background: #eff4ff url(https://sites.google.com/site/htmlreport1231234234/top-light-blue.png) repeat-x left top;	
}

.psdg-top-cell {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:105px;
	height: 31px;
	border-right: 1px solid #ced9ec;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
}

#psdg-middle {
	margin:0;
	padding: 0;
	width: 100%;
	height:664px;
	background: #f6f6f6 url(https://sites.google.com/site/htmlreport1231234234/center-bcg.png) repeat-y right top;	
}

.psdg-left {
	float:left;
	margin:0;
	padding: 10px 0 0 24px;
	width: 129px;
	text-align: left;
	height: 25px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
	background: #e4ebf8 url(https://sites.google.com/site/htmlreport1231234234/center-blue.png) repeat-y left top;
}



.psdg-right {
	float:left;
	margin:0;
	padding: 11px 0 0 0;
	width: 243px;
	text-align:center;
	height: 24px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
}

#psdg-bottom {
	clear:both;
	margin:0;
	padding: 0;
	width: 400px;
	height: 48px;
	border-top: 2px solid #FFF;
	background: #e4e3e3 url(https://sites.google.com/site/htmlreport1231234234/bottom-line.png) repeat-x left top;	
}


.psdg-bottom-cell {
	float:Center;
	padding: 15px 0 0 0;
	text-align:center;
	width:400px;
	height: 33px;	
	color:#070707;
	font: 16px Arial, Helvetica, sans-serif;
}



#psdg-footer {
	font-size: 10px;
	color:#8a8a8a;
	margin:0;
	padding: 8px 0 8px 12px;
	width: 390px;
	background: #f6f6f6 url(https://sites.google.com/site/htmlreport1231234234/center-bcg.png) repeat-y right top;	
}
/******************************************************************************************************/




/******************************************************************************************************/
#psdgraphics-com-tableSummary {
	margin:0;
	padding: 4px;
	width: 31.9%;
	font: 11px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0c2a62;
}


#psdg-header1 {
	margin:0;
	padding: 14px 0 0 24px;
	width: 30.8%;
	height: 8%;
	color:#FFF;
	font-size:13px;
	background: #0c2c65 url(https://sites.google.com/site/htmlreport1231234234/head-bcg.jpg) no-repeat right top;	
}

.psdg-bold1 {
	font: bold 22px Arial, Helvetica, sans-serif;
	
}

#psdg-top1 {
	margin:0;
	padding: 0;
	width: 100%;
	height: 46px;
	border-top: 2px solid #FFF;
	background: #eff4ff url(https://sites.google.com/site/htmlreport1231234234/top-light-blue.png) repeat-x left top;	
}

.psdg-top-cell1 {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:12.9%;
	height: 31px;
	border-right: 1px solid #ced9ec;
	color:#1f3d71;
	font: 12px Arial, Helvetica, sans-serif;
}

#psdg-middle1 {
	margin:0;
	padding: 0;
	width: 100%;
	background: #f6f6f6 url(https://sites.google.com/site/htmlreport1231234234/center-bcg.png) repeat-y right top;	
}

.psdg-left1 {
	float:left;
	margin:0;
	padding: 10px 0 0 24px;
	width: 129px;
	text-align: left;
	height: 25px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
	background: #e4ebf8 url(https://sites.google.com/site/htmlreport1231234234/center-blue.png) repeat-y left top;
}



.psdg-right1{
	float:left;
	margin:0;
	padding: 11px 0 0 0;
	width: 105px;
	text-align:center;
	height: 24px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
}

#psdg-bottom1 {
	clear:both;
	margin:0;
	padding: 0;
	width: 100%;
	height: 48px;
	border-top: 2px solid #FFF;
	background: #e4e3e3 url(https://sites.google.com/site/htmlreport1231234234/bottom-line.png) repeat-x left top;	
}


.psdg-bottom-cell1{
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:12.9%;
	height: 33px;
	border-right: 1px solid #ced9ec;
	color:#070707;
	font: 13px Arial, Helvetica, sans-serif;
}
/******************************************************************************************************/








/* ---- Table ---- */

#Travel {
	border-collapse:collapse;
	margin-bottom:15px;
	width:50%;
	}
	
	#Travel caption {
		text-align:left;
		font-size:15px;
		padding-bottom:10px;
		}
	
	#Travel td,
	#Travel th {
		padding:5px;
		border:1px solid #fff;
		border-width:0 1px 1px 0;
		}
		
    #Travel thead th {
		background:#91c5d4;
		}
			
		#Travel thead th[colspan],
		#Travel thead th[rowspan] {
			background:#66a9bd;
			}
		
	#Travel tbody th,
	#Travel tfoot th {
		text-align:left;
		background:#91c5d4;
		}
		
	#Travel tbody td,
	#Travel tfoot td {
		text-align:center;
		background:#d5eaf0;
		}
		
	#Travel tfoot th {
		background:#b0cc7f;
		}
		
	#Travel tfoot td {
		background:#d7e1c5;
		font-weight:bold;
		}
			
	#Travel tbody tr.odd td { 
		background:#bcd9e1;
		}



















